body {
    padding-top: 56px;
  }
.image-car{
    width: 30px;
    height: 30px;
}
.remove-btn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  
  .btn-wrapper {
    position: relative;
  }